<html>
    <head>
    </head>

    <body>
        <main>
            <h1>Awesome Jobs</h1>
            <h2>(Crawl from https://github.com/awesome-jobs/vietnam by thevivotran)</h2>
            <h2>Một bài tập khi học Python tại <a href="https://pymi.vn">PYMI.vn</a></h3> 
            <div>
                {% for job in jobs %}
                    <a href={{ job[1] }}>{{ job[0] }}</a>
                    <br>
                {% endfor %}
            </div>

        </main>
    </body>
</html>